<md-content>
  <div class="question-content" ng-bind-html="$ctrl.question.content"></div>

  <div ng-repeat="answer in $ctrl.question.answers" class="answer md-whiteframe-1dp" layout="column">
    <div ng-disabled="$ctrl.isResult()" class="answer-content" layout="row" ng-click="$ctrl.toggleAnswer($index)" md-ink-ripple="#2196f3">
      <div>
        <md-checkbox ng-disabled="$ctrl.isResult()" ng-checked="$ctrl.exists($index, $ctrl.answer)" aria-label="{{$answer.content}}"
          tabindex="{{$index + 1}}"></md-checkbox>
      </div>
      <div ng-bind-html="answer.content"></div>
    </div>
    <div class="answer-result" layout="row" ng-if="$ctrl.isResult()">
      <div class="answer-result-bar" ng-class="{'answer-correct': answer.correct, 'answer-wrong': !answer.correct}" ng-style="{'width': $ctrl.answers[$index]/$ctrl.votersTotal*100 + '%'}"></div>
      <div class="answer-result-text">{{$ctrl.answers[$index]}}</div>
    </div>
  </div>
</md-content>